@import '~normalize.css';
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700,900);

body {
	font-family: 'Montserrat';
}

.container {
	max-width: 1080px;
	margin: 0px auto;
}