.currentWidget {
	flex: 0 1 20%;
	display: inline-block;
	padding: 20px;

	cursor: pointer;

	background: #FFFFFF;
	box-shadow: 2px 5px 25px rgba(180, 180, 180, 0.5);
	border-radius: 20px;

	transition: box-shadow .3s ease;
}

.wrapperTop {
	margin: 0px 0px 30px 0px;

	display: flex;
	align-items: center;
	gap: 65px;
}

.temp {
	font-weight: 500;
	font-size: 96px;
	line-height: 115%;
	color: #4793FF;
}

.day {
	font-size: 40px;
	line-height: 123%;
	color: #000000;
	font-weight: 500;
}

.city {
	font-size: 25px;
	line-height: 120%;
	color: #939CB0;
}